# How to Forecast a Time Series with Python

Wouldn't it be nice to know the future? This is the notebook that relates to the blog post on medium. Please check the blog for visualizations and explanations, this notebook is really just for the code :)


## Processing the Data

Let's explore the Industrial production of electric and gas utilities in the United States, from the years 1985-2018, with our frequency being Monthly production output.

You can access this data here: https://fred.stlouisfed.org/series/IPG2211A2N

This data measures the real output of all relevant establishments located in the United States, regardless of their ownership, but not those located in U.S. territories.

In [1]:
%matplotlib inline
import pandas as pd
data = pd.read_csv("Electric_Production.csv",index_col=0)
data.head()

            IPG2211A2N
DATE
1985-01-01     72.5052
1985-02-01     70.6720
1985-03-01     62.4502
1985-04-01     57.4714
1985-05-01     55.3151

Right now our index is actually just a list of strings that look like a date, we'll want to adjust these to be timestamps, that way our forecasting analysis will be able to interpret these values:

In [2]:
data.index

Index(['1985-01-01', '1985-02-01', '1985-03-01', '1985-04-01', '1985-05-01',
       '1985-06-01', '1985-07-01', '1985-08-01', '1985-09-01', '1985-10-01',
       ...
       '2017-04-01', '2017-05-01', '2017-06-01', '2017-07-01', '2017-08-01',
       '2017-09-01', '2017-10-01', '2017-11-01', '2017-12-01', '2018-01-01'],
      dtype='object', name='DATE', length=397)

In [3]:
data.index = pd.to_datetime(data.index)

In [4]:
data.head()

            IPG2211A2N
DATE
1985-01-01     72.5052
1985-02-01     70.6720
1985-03-01     62.4502
1985-04-01     57.4714
1985-05-01     55.3151

In [5]:
data.index

DatetimeIndex(['1985-01-01', '1985-02-01', '1985-03-01', '1985-04-01',
               '1985-05-01', '1985-06-01', '1985-07-01', '1985-08-01',
               '1985-09-01', '1985-10-01',
               ...
               '2017-04-01', '2017-05-01', '2017-06-01', '2017-07-01',
               '2017-08-01', '2017-09-01', '2017-10-01', '2017-11-01',
               '2017-12-01', '2018-01-01'],
              dtype='datetime64[ns]', name='DATE', length=397, freq=None)

Let's first make sure that the data doesn't have any missing data points:

In [6]:
data[pd.isnull(data['IPG2211A2N'])]

Empty DataFrame
Columns: [IPG2211A2N]
Index: []

Let's also rename this column since its hard to remember what "IPG2211A2N" code stands for:

In [7]:
data.columns = ['Energy Production']

In [8]:
data.head()

            Energy Production
DATE
1985-01-01            72.5052
1985-02-01            70.6720
1985-03-01            62.4502
1985-04-01            57.4714
1985-05-01            55.3151

In [9]:
import plotly
# plotly.tools.set_credentials_file()

In [27]:
from plotly.plotly import plot_mpl
from statsmodels.tsa.seasonal import seasonal_decompose
result = seasonal_decompose(data, model='multiplicative')
fig = result.plot()
plot_mpl(fig)

'https://plot.ly/~Pierian-Data/12'

In [28]:
import plotly.plotly as ply
import cufflinks as cf
# Check the docs on setting up offline plotting

In [ ]:
data.iplot(title="Energy Production Jan 1985--Jan 2018", theme='pearl')

## Train Test Split

In [10]:
data.head()

            Energy Production
DATE
1985-01-01            72.5052
1985-02-01            70.6720
1985-03-01            62.4502
1985-04-01            57.4714
1985-05-01            55.3151

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 397 entries, 1985-01-01 to 2018-01-01
Data columns (total 1 columns):
Energy Production    397 non-null float64
dtypes: float64(1)
memory usage: 6.2 KB

We'll train on 20 years of data, from the years 1985-2015 and test our forcast on the years after that and compare it to the real data.

In [12]:
train = data.loc['1985-01-01':'2016-12-01']

In [13]:
train.tail()

            Energy Production
DATE
2016-08-01           115.5159
2016-09-01           102.7637
2016-10-01            91.4867
2016-11-01            92.8900
2016-12-01           112.7694

In [14]:
test = data.loc['2015-01-01':]

In [15]:
test.head()

            Energy Production
DATE
2015-01-01           120.2696
2015-02-01           116.3788
2015-03-01           104.4706
2015-04-01            89.7461
2015-05-01            91.0930

In [16]:
test.tail()

            Energy Production
DATE
2017-09-01            98.6154
2017-10-01            93.6137
2017-11-01            97.3359
2017-12-01           114.7212
2018-01-01           129.4048

In [17]:
len(test)

37

In [18]:
from pyramid.arima import auto_arima

**he AIC measures how well a model fits the data while taking into account the overall complexity of the model. A model that fits the data very well while using lots of features will be assigned a larger AIC score than a model that uses fewer features to achieve the same goodness-of-fit. Therefore, we are interested in finding the model that yields the lowest AIC value.

In [19]:
stepwise_model = auto_arima(train, start_p=1, start_q=1,
                           max_p=3, max_q=3, m=12,
                           start_P=0, seasonal=True,
                           d=1, D=1, trace=True,
                           error_action='ignore',  
                           suppress_warnings=True, 
                           stepwise=True)

Fit ARIMA: order=(1, 1, 1) seasonal_order=(0, 1, 1, 12); AIC=1686.946, BIC=1706.527, Fit time=1.348 seconds
Fit ARIMA: order=(0, 1, 0) seasonal_order=(0, 1, 0, 12); AIC=1897.389, BIC=1905.221, Fit time=0.023 seconds
Fit ARIMA: order=(1, 1, 0) seasonal_order=(1, 1, 0, 12); AIC=1838.277, BIC=1853.942, Fit time=0.281 seconds
Fit ARIMA: order=(0, 1, 1) seasonal_order=(0, 1, 1, 12); AIC=1745.226, BIC=1760.891, Fit time=0.243 seconds
Fit ARIMA: order=(1, 1, 1) seasonal_order=(1, 1, 1, 12); AIC=1687.289, BIC=1710.786, Fit time=1.478 seconds
Fit ARIMA: order=(1, 1, 1) seasonal_order=(0, 1, 0, 12); AIC=1813.531, BIC=1829.196, Fit time=0.433 seconds
Fit ARIMA: order=(1, 1, 1) seasonal_order=(0, 1, 2, 12); AIC=1686.349, BIC=1709.846, Fit time=3.457 seconds
Fit ARIMA: order=(0, 1, 1) seasonal_order=(0, 1, 2, 12); AIC=1744.461, BIC=1764.042, Fit time=1.203 seconds
Fit ARIMA: order=(2, 1, 1) seasonal_order=(0, 1, 2, 12); AIC=1686.471, BIC=1713.884, Fit time=4.320 seconds
Fit ARIMA: order=(1, 1, 0) seasonal_order=(0, 1, 2, 12); AIC=1758.825, BIC=1778.406, Fit time=0.884 seconds
Fit ARIMA: order=(1, 1, 2) seasonal_order=(0, 1, 2, 12); AIC=1685.864, BIC=1713.277, Fit time=4.383 seconds
Fit ARIMA: order=(2, 1, 3) seasonal_order=(0, 1, 2, 12); AIC=1689.714, BIC=1724.960, Fit time=6.895 seconds
Fit ARIMA: order=(1, 1, 2) seasonal_order=(1, 1, 2, 12); AIC=1683.989, BIC=1715.319, Fit time=3.750 seconds
Fit ARIMA: order=(1, 1, 2) seasonal_order=(1, 1, 1, 12); AIC=1686.996, BIC=1714.410, Fit time=2.271 seconds
Fit ARIMA: order=(1, 1, 2) seasonal_order=(0, 1, 1, 12); AIC=1686.893, BIC=1710.390, Fit time=1.553 seconds
Fit ARIMA: order=(0, 1, 2) seasonal_order=(1, 1, 2, 12); AIC=1695.321, BIC=1722.734, Fit time=3.538 seconds
Fit ARIMA: order=(2, 1, 2) seasonal_order=(1, 1, 2, 12); AIC=1687.095, BIC=1722.340, Fit time=6.486 seconds
Fit ARIMA: order=(1, 1, 1) seasonal_order=(1, 1, 2, 12); AIC=1684.654, BIC=1712.068, Fit time=8.034 seconds
Fit ARIMA: order=(1, 1, 3) seasonal_order=(1, 1, 2, 12); AIC=1685.565, BIC=1720.811, Fit time=7.571 seconds
Fit ARIMA: order=(0, 1, 1) seasonal_order=(1, 1, 2, 12); AIC=1743.820, BIC=1767.317, Fit time=1.797 seconds
Fit ARIMA: order=(2, 1, 3) seasonal_order=(1, 1, 2, 12); AIC=1687.572, BIC=1726.734, Fit time=7.718 seconds
Fit ARIMA: order=(1, 1, 2) seasonal_order=(2, 1, 2, 12); AIC=1680.474, BIC=1715.720, Fit time=6.542 seconds
Fit ARIMA: order=(1, 1, 2) seasonal_order=(2, 1, 1, 12); AIC=1678.805, BIC=1710.134, Fit time=5.650 seconds
Fit ARIMA: order=(1, 1, 2) seasonal_order=(1, 1, 0, 12); AIC=1765.525, BIC=1789.022, Fit time=1.937 seconds
Fit ARIMA: order=(0, 1, 2) seasonal_order=(2, 1, 1, 12); AIC=1689.420, BIC=1716.833, Fit time=2.688 seconds
Fit ARIMA: order=(2, 1, 2) seasonal_order=(2, 1, 1, 12); AIC=1680.442, BIC=1715.687, Fit time=6.800 seconds
Fit ARIMA: order=(1, 1, 1) seasonal_order=(2, 1, 1, 12); AIC=1678.863, BIC=1706.276, Fit time=5.015 seconds
Fit ARIMA: order=(1, 1, 3) seasonal_order=(2, 1, 1, 12); AIC=1681.664, BIC=1716.910, Fit time=5.950 seconds
Fit ARIMA: order=(0, 1, 1) seasonal_order=(2, 1, 1, 12); AIC=1735.788, BIC=1759.285, Fit time=1.191 seconds
Fit ARIMA: order=(2, 1, 3) seasonal_order=(2, 1, 1, 12); AIC=1681.895, BIC=1721.057, Fit time=7.162 seconds
Fit ARIMA: order=(1, 1, 2) seasonal_order=(2, 1, 0, 12); AIC=1712.516, BIC=1739.930, Fit time=4.818 seconds
Total fit time: 115.432 seconds

In [20]:
stepwise_model.aic()

1678.8046078286538

In [21]:
future_forecast = stepwise_model.predict(n_periods=len(test))

In [22]:
future_forecast

array([121.28205309, 109.85778602, 100.42445498,  90.50599999,
        92.05151236, 103.14713828, 112.45126145, 112.0794514 ,
       100.99302439,  92.05797052,  95.79899745, 111.26970242,
       120.25345264, 111.21895464, 102.08041362,  90.49647782,
        92.09080331, 102.83606718, 111.82360135, 111.02284088,
       100.78848247,  92.05251503,  95.80633522, 109.22439593,
       119.32052683, 110.49639294, 100.95795714,  90.17458038,
        91.733426  , 102.93101197, 112.16047521, 111.63266057,
       101.04494196,  91.81236362,  95.06991362, 109.39603514,
       119.38930794])

In [23]:
future_forecast = pd.DataFrame(future_forecast,index = test.index,columns=['Prediction'])

In [24]:
future_forecast.head()

            Prediction
DATE
2015-01-01  121.282053
2015-02-01  109.857786
2015-03-01  100.424455
2015-04-01   90.506000
2015-05-01   92.051512

In [25]:
test.head()

            Energy Production
DATE
2015-01-01           120.2696
2015-02-01           116.3788
2015-03-01           104.4706
2015-04-01            89.7461
2015-05-01            91.0930

In [26]:
pd.concat([test,future_forecast],axis=1).iplot()

AttributeError: 'DataFrame' object has no attribute 'iplot'

In [48]:
pd.concat([data,future_forecast],axis=1).iplot()